*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    vertical-align: baseline;
    
}

:root {
    --negro: #000000;
    --seccion:#000000c0;
    --blanco: #ececec;
    --sombra-ppal: #a1a1a1;
    --sombra-sec: #ffffff;
    --borde-negro: #00000050;
    --marcado: rgb(127, 195, 255);
    --acento: #AB241F;
}

section{
    
    width: 100%;
    margin-bottom: 50px;
    background-color: var(--seccion);
}



html{

   background-image: url(img/fondo.png);
   background-size:cover;
   background-repeat: no-repeat;
   max-width: 100%;
   margin: 0 auto;
   color: var(--blanco);
   
}

header{
       
    background-color: var(--negro);
    padding: 10px;
    padding-right: 3%;
    
    
}

.menu-contenedor{
    padding-top: 10px;
    
    height: 50px;   
    
}

.menu-contenedor .navbar{
    margin-left: 2%;
    margin-right: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}

.menu-contenedor .menu{

    margin-right: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}

.link1 {
    color: white;
    margin-left: 20px;
    transition: color 0.3s;

}
.link1:hover{
    color:var(--acento);
}


.main{
    height: 75%;
    background-image: url(img/bg.png);
    background-position: top;
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: left;
    min-height: 70vh;
    overflow: hidden;

}

.main .main-contenedor{
    
    color: var(--blanco);
    width: 60%;
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.573), transparent), url(img/fnmain.png);      
    background-size:cover;
    background-repeat: no-repeat;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    
}

.main .btn1{
   
    display: inline-block;
    align-items: start;
    cursor: pointer;
    font-size: 30px;
    color: var(--blanco);
    box-shadow: 1px 1px 0 var(--seccion);
    background-color: var(--acento);
    width: 300px;
    height: 70px;
    margin: 5%;
    padding: 10px;
  
}

.cursiva{
    font-weight: 300;
    font-style: italic;
    
}

.ttp{
    
    font-size: 40px ;
    text-align: left;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-content: left;
    justify-content: left;
 
    
}
.prr{
    margin-left: 5%;
    font-size: 20px;
    line-height: 35px;
    text-align: left;
    align-items: center;
    justify-content: center;
 
}

#title2{

    font-weight: bolder;
    font-size: 35px;
    justify-self: center;
    grid-area: header;
    margin-top: 25px;
    padding: 10px; 
}


.contenedor-seccion2 .txt{
    
    justify-self: center;
    font-weight: 300;
    grid-area: sidebar;
    margin-top: 200px;
    margin-right: 40px;
    font-size: 30px;

}

.contenedor-seccion2 .imgseccion2{
    
    justify-self: center;
    grid-area: main;
    padding-top: 60px;
}


.contenedor-seccion2{
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 5% 50% 5% 40%;
    grid-template-rows: 10% 50% 10%;
    grid-template-areas: 
    "header header header header"
    ". main . sidebar"
    ". . . ."    
    ;
}
 


.carrusel{

    position: relative;
    padding: 10px;
    color: var(--blanco);
    overflow: hidden;
    
}
.carrtitl{
    padding: 10px;
}

.grande{

    /* width: 100%; */
    display: flex; 
    transition: transform 0.5s ease;
    /* flex-flow: row nowrap; */
    /* justify-content: center; */
    /* align-items: center; */

}

.carrusel-item{
    min-width: 100%;
}

.carrusel .img{

    padding-left: 25%;

    object-fit: contain;
    max-width: 100%;
    height: auto;
   
}

.btn-anterior, .btn-siguiente{

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.btn-anterior {
    left: 10px;
}

.btn-siguiente {
    right: 10px;
} 

.carousel-item img {
    max-height: 400px;
    object-fit: cover;
}

.bullet-contenedor{

    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 7% 25% 7% 25% 7% 25% 7%;
    grid-template-rows: 30% 50% 30%;
    grid-template-areas: 
    ". header header header header header ."
    ". b1 . b2 . b3 ."
    ". . . . . . ."    
    ;
} 

.bullet-contenedor .bulltitle{
    grid-area: header;
    padding-top: 50px;

}

.bullet-contenedor .bull1{
    grid-area: b1;

}

.bullet-contenedor .bull2{
    grid-area: b2;
}

.bullet-contenedor .bull3{
    grid-area: b3;
    
}

.bullet-contenedor .textb{
    font-size: 20px;
    padding: 20px;
}

.txtform{
    margin-bottom: 50px;
    margin-top: 40px;
    margin-right: 50%;
}

#formulario{

    display: block;
    background-image: linear-gradient(to left,rgba(0, 0, 0, 0.573), transparent), url(img/marc.png);
    background-position: 900px top;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 70%;
    max-width: 100%;  
    margin-bottom: 50px;
    padding: 20px; 
      

}

input[type="submit"]{

    cursor: pointer;
    font-size: 30px;
    color: var(--blanco);
    box-shadow: 1px 1px 0 var(--seccion);
    background-color: var(--acento);
    width: 300px;    
    height: 70px;
    margin-left: 15%;
    margin-top: 20px;
    padding: 10px;
    display: block;
    font-size: 25px;

}

input[type="text"], input[type="email"]{
    
    width: 50%;
    max-width: 80%;
    height: 60px; 
    min-height: 40px;
    margin-bottom: 20px;
    margin-left: 30px; 
    margin-right: auto; 
    padding: 20px;
    display: block; 
    box-sizing: border-box; 
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6{
    font-family: sans-serif;
    text-align: center;
}

h2{
    font-size: 30px;
}

p, a, li{
    font-family: Arial;
}

.link{
    background-color: var(--seccion);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    width: 90hv;
    
}

#title-footer{
    width: 100%;
    background-color: var(--seccion);
    color: var(--blanco);
    padding: 10px;
    font-size: 20px;
    text-align: center;
    align-items: center;
}

#fin{

    width: 100%;
    background-color: var(--seccion);
    color: var(--blanco);
    padding: 10px;
    text-align: center;
    align-items: center;

}

#name-placeholder{
    font-size: 38;
    font-weight: 300;

}



@media (max-width: 768px) {

    .main{
        height: 90%;
        background-image: url(img/bg.png);
        background-position: top;
        background-size:cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: flex-start;
        min-height: 70vh;
        overflow: hidden;
        z-index: 2;
    }
    
    .main .main-contenedor{
        
        color: var(--blanco);
        width: 100%;
        background-image: linear-gradient(to top,rgba(0, 0, 0, 0.573), transparent), url(img/fnmain.png);      
        background-size:cover;
        background-repeat: no-repeat;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: left;
        
    }


    .menu-contenedor .navbar .levelup img{
        max-width: 120%;
        height: auto;

    }

    .menu-contenedor .navbar .menu{
        margin-left: 20px;
        padding: 10;
            
    }
    
    .contenedor-seccion2 {
       
        height: 70%;
        grid-template-columns: 100%;
        grid-template-rows: 10% 20% 30%;
        grid-template-areas: 
            "header"
            "main"
            "footer"
        ;
    }

    .contenedor-seccion2 .imgseccion2 img {
        margin-top: 20px;
        max-width: 100%;
        height: auto;
    }

    .contenedor-seccion2 .txt {
        
        grid-area: footer;
        margin-left: 10px;
        margin-right: 10px;
        padding: 2%;
        padding-top: 30px;
        font-size: 20px;

    }

    .contenedor-seccion2 .imgseccion2 {
        
        grid-area: main;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 5%;
        padding: 10px;
    }

    #title2 {
        margin-top: 40px;
        margin-bottom: 60px;
        font-size: 28px;
    }

    .bullet-contenedor {

        height: 180%;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
            "header"
            "b1"
            "b2"
            "b3"
            "footer";
    }

    .bullet-contenedor .bull1 {
        
        grid-area: b1;
        text-align: center;
        
    }

    .bullet-contenedor .bull2 {
        
        grid-area: b2;
        text-align: center;
    }

    .bullet-contenedor .bull3 {

        grid-area: b3;
        text-align: center;
    }

    .carrusel .img{
    padding: 10px;
    
    }

    .btn-anterior, .btn-siguiente{
   
        position: absolute;
        top: 60%;
    }

    .carrusel .btn-anterior img{
        max-width: 50%;
        height: auto;
    }

    .carrusel .btn-siguiente img{
        max-width: 50%;
        height: auto;
    }

    .txtform{
        margin: auto;
        margin-bottom: 30px;
        align-items: center;
    }
    
    #formulario{

        display: block;
        background-image: linear-gradient(to bottom, var(--seccion), transparent), url(img/marc.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        max-width: 100%;
        padding: 20px; 
          
    
    }
    
    input[type="submit"]{
    
        cursor: pointer;
        font-size: 30px;
        color: var(--blanco);
        box-shadow: 1px 1px 0 var(--seccion);
        background-color: var(--acento);
        width: 300px;    
        height: 70px;
        margin-left: 10%;
        padding: 10px;
        display: block;
        font-size: 25px;
    
    }
    
    input[type="text"], input[type="email"]{
        
        width: 100%;
        max-width:85%;
        height: 60px; 
        min-height: 40px;
        margin-bottom: 20px;
        margin-left: 30px; 
        margin-right: auto; 
        padding: 10px;
        display: block; 
        box-sizing: border-box; 
        font-size: 20px;
    }

    
}

@media (min-width: 768px) and (max-width: 1024px) {
    .contenedor-seccion2 {
        height: 120%;
        grid-template-columns: 100%;
        grid-template-rows: 10% 30% 30% 10%;
        grid-template-areas: 
            "header"
            "main"
            "side"
            "footer"
        ;
    }

    .contenedor-seccion2 .txt {
        display: grid;
        grid-area: side;
        align-self: center;
        justify-self: center;
        margin-top: 400px;
        margin-left: 40px;
        margin-right: 40px;
        padding: 50px;
        font-size: 28px;
    }

    .contenedor-seccion2 .imgseccion2 {
        margin-top: 20px;
        padding: 10px;
        text-align: center; /* Center align the image*/
        }

    .contenedor-seccion2 .imgseccion2 img {
        max-width: 90%;
        height: auto;
    }

    #title2 {
        font-size: 30px;
    }

    .bullet-contenedor {

        height: 200%;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "header"
            "b1"
            "b2"
            "b3";
    }

    .bullet-contenedor .bull1 {
        
        grid-area: b1;
        text-align: center; 
    }

    .bullet-contenedor .bull2 {
        
        grid-area: b2;
        text-align: center;
    }

    .bullet-contenedor .bull3 {

        grid-area: b3;
        text-align: center;
    }

    .carrusel .img{
        
        margin-left: 0;
        margin-right: 50%;
    
    }

    .btn-anterior, .btn-siguiente{
   
        position: absolute;
        top: 50%;
    }

    .carrusel .btn-anterior img{
        max-width: 80%;
        height: auto;
    }

    .carrusel .btn-siguiente img{
        max-width: 80%;
        height: auto;
    }


}
 
/* @media (min-width: 1024px) and (max-width: 1440px) {
    .contenedor-seccion2 {
        height: 120%;
        grid-template-columns: 100%;
        grid-template-rows: 10% 30% 30% 10%;
        grid-template-areas: 
            "header"
            "main"
            "side"
            "footer"
        ;
    }

    .contenedor-seccion2 .txt {
        display: grid;
        grid-area: side;
        align-self: center;
        justify-self: center;
        margin-top: 500px;
        margin-left: 40px;
        margin-right: 40px;
        padding: 50px;
        font-size: 28px;
    }

    .contenedor-seccion2 .imgseccion2 {
        margin-top: 20px;
        padding: 10px;
        text-align: center; 
    }

    .contenedor-seccion2 .imgseccion2 img {
        max-width: 90%;
        height: auto;
    }

    #title2 {
        font-size: 30px;
    }

    .bullet-contenedor {

        height: 200%;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "header"
            "b1"
            "b2"
            "b3";
    }

    .bullet-contenedor .bull1 {
        
        grid-area: b1;
        text-align: center; 
    }

    .bullet-contenedor .bull2 {
        
        grid-area: b2;
        text-align: center;
    }

    .bullet-contenedor .bull3 {

        grid-area: b3;
        text-align: center;
    }

    .carrusel .img{

        padding: 3%;        
        margin-left: 9%;
    }

    .btn-anterior, .btn-siguiente{
   
        position: absolute;
        top: 50%;
    }

} */